<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Bot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header class="logo-container">
        <img id="logo-bot" src="{{ url_for('static', filename='logo.png') }}" alt="Logo BookWormBot" class="img-responsive">
    {% if show_credits %}
        <a id="credits-link" href="{{ url_for('credits') }}">Créditos</a>
    {% endif %}
    </header>

    <div class="container">
        <!-- Bloco de conteúdo principal -->
        {% block content %}{% endblock %}
    </div>

    <footer>
    {% if show_logo %}
        <img id="logo-ufabc" src="{{ url_for('static', filename='ufabc_logo.png') }}" alt="Logo UFABC" class="img-responsive">
    {% endif %}
    </footer>
</body>
</html>