{% extends "base.html" %}

{% block content %}
<div class="container mt-5 text-center">
    <div class="card shadow-sm">
        <div class="card-body">
            <h2 class="card-title mb-4">WordCloud do Livro</h2>
            <p class="card-text">Uma WordCloud é uma representação visual das palavras mais frequentes em um texto. Quanto maior a palavra, mais vezes ela aparece na descrição do livro. Isso pode ajudar a identificar os temas principais e os tópicos mais discutidos no livro recomendado.</p>
            <img src="{{ url_for('static', filename='wordcloud.png') }}" alt="WordCloud" class="img-fluid my-4" style="max-width: 100%; height: auto;">
        </div>
    </div>
</div>
<button id="voltar" onclick="window.history.back()">Voltar</button>
{% endblock %}
